In [1]:
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# What's going on underneath the hood with the foor loop
x = 1
x in numbers

True

In [3]:
# For loop approach first

# Start with a new empty list to hold the output
output = []

# iterate through the existing list
# for x is declaring a variable called x that holds each element of the list, one at a time, in order
# you are in control of what you name the variable here
# habit: for singular in plural:
for number in numbers:
    result = number + 1
    output.append(result)
output

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [4]:
# List comprehension approach to the same thing (replicating the original list)
# [operation(n) for n in numbers]
output = [number + 1 for number in numbers]
output

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [5]:
squares = [n**2 for n in numbers]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# [whatever_our_operation(x) for x in collection/list]
[beatle + " was one of the Beatles" for beatle in ["John", "Paul", "George", "Ringo"]]

['John was one of the Beatles',
 'Paul was one of the Beatles',
 'George was one of the Beatles',
 'Ringo was one of the Beatles']

In [7]:
# get the sqrt of every number
import math

In [8]:
y = [math.sqrt(n) for n in numbers]
y

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [9]:
# Square only the even numbers
[n**2 for n in numbers if n % 2 == 0]

[4, 16, 36, 64, 100]

In [10]:
# [x+1 if x >= 45 else x+5 for x in l]
# square evens, cube odds
[n**2 if n % 2 == 0 else n**3 for n in numbers]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [11]:
# The above case is ... opaque. it ain't simple, so what?
output = []
for n in numbers:
    if n % 2 == 0:
        result = n**2
    else:
        result = n**3
    output.append(result)
output

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [12]:
# How can we square every number for any specific list of numbers? not just the numbers = range(1, 11)
def square_all(numbers):
    output = []
    for n in numbers:
        output.append(n**2)
    return output

In [13]:
def square_all(numbers):
    return [n**2 for n in numbers]

In [14]:
square_all([5, 3, 2, 1, 4, 13, 5])

[25, 9, 4, 1, 16, 169, 25]